NEXT_PUBLIC_SITE_URL=https://robbiejpatterson.com
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ADMIN_EMAILS=
NEXT_PUBLIC_SUPABASE_ADMIN_EMAILS=
SUPABASE_PHOTOS_BUCKET=photos
